body{
    margin:0;
    padding:0;
    font-family:Arial, Verdana;
}
.pearon-users{
    min-width: 970px;
    overflow: -webkit-paged-x;
}
h1{
    font-size:36px;
    color:#007FA3;
    padding:20px 50px;
    font-weight:normal;
}
.bx-wrapper{
    background:#D8D8D8;
    padding:50px;
    width: fit-content;
    /* height: 112px; */
    overflow:hidden;
    text-align: center;
}
.alert-danger{
    color: red;
}
.button{
    color: blue;
    padding-right: 30px;
    margin-right: 30px;
    cursor: pointer;
}